<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheeseboard Menu</title>
</head>
<body>
      <h1><%= boardDetails.name %></h1>

        <p>Cheeses: <%= boardDetails.cheeses %></p>
        <p>Meats: <%= boardDetails.meats %></p>
        <p>Veggies: <%= boardDetails.veggie %></p>
        <p>Fruit: <%= boardDetails.fruit %></p>
        <p>Accoutrements: <%= boardDetails.accout %></p>
        
</body>
</html>