<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheeseboard Menu</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Cheeseboard Menu</h1>
    <a href="/users/<%=user._id%>/menu/new">Add New Board</a>
    <p>This is where we will list the cheeseboards by name and link them to their detailed show page!</p>
    <ul>
        <% boardIndex.forEach(cheeseboard => { %>
            <li>
                <a href="/users/<%= user._id %>/menu/<%= cheeseboard._id%>">
                <%= cheeseboard.name %>
                </a>
            </li>
        <% }) %>
        <li>Board 1</li>
        <li>Board 2</li>
        <li>Board 3</li>
    </ul>
</body>
</html>