<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cheeseboard Menu</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Cheeseboard Menu</h1>
    <a href="/users/<%=user._id%>/menu/new">Add New Board</a>
    <br>
    <ul>
        <% boardList.forEach(cheeseboard => { %>
            <li>
                <a href="/users/<%= user._id %>/menu/<%= cheeseboard._id%>">
                <%= cheeseboard.name %>
                </a>
            </li>
        <% }) %>
      
    </ul>
</body>
</html>