<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>Document</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>
        <div class="header">
            <h1><%= boardDetails.name %></h1></div>
        
        <div class="index-container">
            <div class="text-container">
            <form>
            <label>Cheeses:</label> <input value="<%= boardDetails.cheeses %>" disabled />
            <label>Meats:</label> <input value="<%= boardDetails.meats %>" disabled />
            <label>Veggies:</label> <input value="<%= boardDetails.veggie %>" disabled />
            <label>Fruit:</label> <input value="<%= boardDetails.fruit %>" disabled />
            <label>Accoutrements:</label> <input value="<%= boardDetails.accout %>" disabled />
            <label>Jam:</label> <input value="<%= boardDetails.jam %>" disabled />
            <label>Chocolate:</label> <input value="<%= boardDetails.chocolate %>" disabled />
            <label>Nuts:</label> <input value="<%= boardDetails.nuts %>" disabled />
            <label>Carb Base:</label> <input value="<%= boardDetails.carbs %>" disabled />

            <% if (boardDetails.floralGarnishes) { %>
            <label>Floral Garnishes:</label> <input value="<%= boardDetails.floralGarnishes %>" disabled />
            <% } %>
            <% if (boardDetails.winePairings) { %>
            <label>Recommended Wine Pairings:</label> <input value="<%= boardDetails.winePairings %>" disabled />
            <% } %>
            <% if (boardDetails.notes) { %>
            <label>Notes:</label> <input value="<%= boardDetails.notes %>" disabled />
            <% } %>

            <a href="/users/<%= user._id %>/menu/<%= boardDetails._id %>/edit">Edit Board</a>
            </form>
            </div>
        </div>
    </body>
</html>

