<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>Document</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>
        <div class="header">
            <h1><%= boardDetails.name %></h1></div>
        
        <div class="form-container">
            <div class="text-container">
            <form action="/users/<%= user._id %>/menu/<%= boardDetails._id %>?_method=PUT" method="POST">
            <label>Cheeses:</label> <input value="<%= boardDetails.cheeses %>" disabled /><br>
            <label>Meats:</label> <input value="<%= boardDetails.meats %>" disabled /><br>
            <label>Veggies:</label> <input value="<%= boardDetails.veggie %>" disabled /><br>
            <label>Fruit:</label> <input value="<%= boardDetails.fruit %>" disabled /><br>
            <label>Accoutrements:</label> <input value="<%= boardDetails.accout %>" disabled /><br>
            <label>Jam:</label> <input value="<%= boardDetails.jam %>" disabled /><br>
            <label>Chocolate:</label> <input value="<%= boardDetails.chocolate %>" disabled /><br>
            <label>Nuts:</label> <input value="<%= boardDetails.nuts %>" disabled /><br>
            <label>Carb Base:</label> <input value="<%= boardDetails.carbs %>" disabled /><br>

            <% if (boardDetails.floralGarnishes) { %>
            <label>Floral Garnishes:</label> <input value="<%= boardDetails.floralGarnishes %>" disabled /><br>
            <% } %>
            <% if (boardDetails.winePairings) { %>
            <label>Recommended Wine Pairings:</label> <input value="<%= boardDetails.winePairings %>" disabled /><br>
            <% } %>
            <% if (boardDetails.notes) { %>
            <label>Notes:</label> <input value="<%= boardDetails.notes %>" disabled /><br>
            <% } %>
            <br>
            <button class="button" type="submit">Edit Board</button>
            </form>
            </div>
        </div>
    </body>
</html>

